# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.env
venv/
.venv/
env/

# IDE settings
.vscode/
.idea/

# Distribution / packaging
dist/
build/
*.egg-info/

# Local development
.DS_Store
*.log